<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Página principal — Steam Style</title>
  <link rel="stylesheet" href="../CSS/styles.css" />
</head>
<body>
  
  <header class="header">
    <div class="logo">
      <span class="logo-mark">VAPOR</span>
    </div>
  </header>


  <main class="main">
    <section class="card">
      <h1 class="card-title">Bienvenido a Vapor</h1>
      <p class="card-subtitle">Explora o compra videojuegos para la DS en nuestro catálogo </p>

      <div class="form-footer">
        <a href="./login.html" class="btn btn-primary">Iniciar sesión</a>
        <a href="./registro.html" class="btn">Crear cuenta</a>
      </div>
    </section>
  </main>

  <footer class="footer">
    <p class="muted">© 2025 GRAM — Vapor</p>
    <br>
    <p>Estrada Sevillano Rodrigo, Gonzalez de Luna Luis Gerardo, Granados Luna Mario Adán y Ortiz Avila Miguel Angel</p>
  </footer>
  <script src="../JS/main.js"></script>
</body>
</html>