<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Catálogo de videojuegos</title>
  <link rel="stylesheet" href="../CSS/styles.css" />
</head>
<body>


  <header class="header">
    <div class="logo">
      <span class="logo-mark">Vapor</span>
    </div>
    <nav class="nav">
      <a href="filtro.html" class="btn">Buscar</a>
      <a href="perfil.html" class="btn">Perfil</a>
    </nav>
  </header>


  <main class="main">
    <img src="" alt="">
    <section class="card">
      <h1 class="card-title">Catálogo de videojuegos</h1>
      <p class="card-subtitle">Explora y compra tus títulos favoritos</p>

      <div class="product-list">
        <!-- Los productos se cargarán dinámicamente desde Supabase -->
      </div>
    </section>
  </main>


  <footer class="footer">
    <p class="muted">© 2025 GRAM — Vapor</p>
  </footer>
  <script src="../JS/catalogo.js"></script>
</body>
</html>
